@import 'colors/typography-light';
@import 'colors/typography-dark';
@import 'addon/variables';
@import 'variables-hook';
@import 'addon/module';
@import 'addon/syntax';
@import 'addon/commons';
@import 'layout/home';
@import 'layout/post';
@import 'layout/tags';
@import 'layout/archives';
@import 'layout/categories';
@import 'layout/category-tag';

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('/assets/fonts/GowunBatang-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('/assets/fonts/GowunBatang-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jua-Regular';
    src: url('/assets/fonts/Jua-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('/assets/fonts/NonoSansKR-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
